@charset "utf-8";

@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
    
    font-size: 100%;
    font-family: Georgia, Arial, sans-serif;
    background-color:white
}

body {
    margin:0;
    padding:0;
}

img{
    margin:0;
    display:block;
}

header{
    margin:0;
    background-color:black;
}
    

.logo {
    height: 8rem;
    width:auto;
    display:block; 
    margin: .5rem auto;
}

h1 {
    margin:1.5rem 0;
    overflow: hidden;
    font-weight: bold;
	font-size: 3.5rem;
    text-transform: uppercase;
    padding:0;
    color:black;
    text-align:center;
    background-color:rgba(899 ,899 ,34, .4);
}

h1 span {
    font-size:2rem;
}

h2 {
    margin:1.5rem 1rem;
    padding:.25rem 0;
    font-size:1.5rem;
    color:black;
    font-weight:bold;
    text-align:left;
    text-shadow:.2rem .2rem .05rem rgba(9 ,9 ,9, .3);
    background-color:rgba(150 ,200 ,5, .8);
    box-shadow:.2rem .4rem .4rem .2rem rgba(0, 0, 0, .4);
}

article {
    margin: 0;
    padding: 0 5%;
    overflow:hidden;
}

p {
    margin:1rem 1rem;
}

.head2 {
    margin:0 1rem;
    padding:2rem 0;
    overflow:hidden;
    background-image:url(../images/totem.png);
    background-size:26rem;
    background-repeat:no-repeat;
    background-position:center;
}

.para{
    font-size:1rem;
    font-weight:bold;
    border:solid .2rem rgba( 200, 200, 30, .8);
    text-align:center;
    line-height:1.7rem;
}

figure {
    margin:1rem;
}

figurecaption{
    font-size:.7rem;
    font-weight:bold;
}

footer{
    background-color:black;
    overflow:hidden;
}


footer p{
    margin: 1rem;
    color: white;
    font-size: .8rem;
}

footer a {
    color:#cf9;
}